#if($hasEdit)
<a href="$doc.getURL('edit')">
  <img src="$xwiki.zipexplorer.getFileLink($xwiki.getDocument('Lyrebird.Icons'), 'iconic.zip', 'raster/black/pen_24x24.png')" title="Edit this page" />
</a>
#end
